.missions {
  padding: 5rem;
}

table {
  border-collapse: collapse;
}

tr {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

th {
  padding: 10px;
  border: 1px solid gray;
}

p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}

.badge span {
  display: block;
  text-transform: uppercase;
  color: #fff;
  background: gray;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 5px;
  padding: 3px 5px;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.badge .member {
  background: #1ab2c5;
  font-size: 1.3rem;
  text-align: center;
  text-transform: capitalize;
}

.join {
  padding: 30px;
}

.join .leaving {
  border-color: #cd2d2d;
  color: #cd2d2d;
}

button {
  border: 1px solid gray;
  white-space: nowrap;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}

tbody tr:nth-child(odd) {
  background: #f0f0f0;
}
