.main-container {
  display: flex;
  gap: 30px;
  padding: 5rem;
}

.main-container div {
  flex: 1 1;
}

.main-container h2 {
  font-weight: bold;
  font-size: 4rem;
}

.missions-container {
  margin-top: 1.5rem;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 0.8rem;
}

.mission {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1.4rem 2rem 2.5rem 2rem;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.missions-container .mission:last-child {
  border: none;
}
