.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

.links {
  margin-right: 5rem;
}

.links a {
  margin-right: 20px;
  font-size: 13px;
  padding: 3px 15px;
  text-decoration: none;
}

.active {
  color: #fff;
  background-color: blueviolet;
}

#logo {
  width: 50px;
  display: inline-block;
}

h1 {
  display: inline;
}
