.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6%;
  border: 2px solid black;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar div h1 {
  font-size: 3rem;
  margin-left: 15px;
}

/* .links {
  margin-right: 5rem;
} */

.links a {
  margin-right: 20px;
  font-size: 2rem;
  padding: 3px 15px;
}

.active {
  color: #fff;
  background-color: blueviolet;
}

#logo {
  width: 50px;
  display: inline-block;
}

h1 {
  display: inline;
}
